@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jost', sans-serif;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.main-container {
    position: absolute;
    width: 1440px;
    height: 100vh;
    max-height: 925px;
    background-color: #2B2C3A;
    overflow-y: auto; 
}


.left-bar {
    position: fixed;
    z-index: 2;
    width: 280px;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(156, 165, 236, 0.04);
}

.left-bar__header {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 130px;
    height: 37px;
}

.logo-year {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 137px;
}

.year {
    color: #FFFFFF;
    font-size: 10.73px;
}

.platform-name {
    color: #FFFFFF;
    font-size: 22.18px;
    font-weight: bold;
}

.line {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #D8D8D8;
    opacity: 0.1;
}

.left-bar__line-one {
    position: absolute;
    top: 85px;
}



/* left-bar__games */
.left-bar__games {
    position: absolute;
    top: 102px;
    width: 280px;
    height: 448px;
}

ul {
    list-style-type: none;
}

.nav-item {
    padding-left: 30px;
    height: 40px;
    font-size: 14px;
    color: #FFFFFF;
}

.nav-item__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-arrow {
    margin-right: 30px;
}

.container-arrow svg {
    transform: rotate(180deg);
    transition: .5s;
}

.nav-item:hover {
    cursor: pointer;
}

.left-bar__games__nav-level-one .nav-item:hover {
    color: #6F6EFF;
    text-shadow: 0px 0px 5px rgba(111, 110, 255, 0.5);
}

.left-bar__games__nav-level-two {
    display: none;
}

.left-bar__games__nav-level-two .nav-item {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.left-bar__games__nav-level-two .nav-item span {
    color: #FFFFFF;
    opacity: 0.5;
}

.left-bar__games__nav-level-two .nav-item:hover {
    border-left: 3px solid #6F6EFF;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 93.97%);
}

.left-bar__games__nav-level-two .nav-item:hover span {
    opacity: 1;
}

.left-bar__games__nav-level-two .nav-item:hover svg path {
    opacity: 1;
    fill: #6F6EFF;
}

/* частные отступы от иконок для текста*/
.left-bar__games__nav-level-two .nav-item:nth-child(1) span {
    margin-left: 22px;
}

.left-bar__games__nav-level-two .nav-item:nth-child(2) span {
    margin-left: 27px;
}

.left-bar__games__nav-level-two .nav-item:nth-child(3) span {
    margin-left: 26px;
}

.left-bar__games__nav-level-two .nav-item:nth-child(4) span {
    margin-left: 27px;
}

.left-bar__games__nav-level-two .nav-item:nth-child(5) span {
    margin-left: 25px;
}

.left-bar__games__nav-level-two .nav-item:nth-child(6) span {
    margin-left: 25px;
}

.left-bar__games__nav-level-two .nav-item:nth-child(6) {
    margin-bottom: 20px;
}


.left-bar__line-two {
    position: absolute;
    top: 590px;
} 



/* left-bar__switcher */
.left-bar__switcher {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 700px;
    width: 100%;
    height: 22px;
}

.left-bar__switcher span {
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 14px;
}

.left-bar__switcher .checkbox {
    position: relative;
    appearance: none;
    width: 42px;
    height: 22px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

.left-bar__switcher .checkbox::before {
    position: absolute;
    top: 2px;
    left: 3px;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #FFFFFF;
    opacity: 0.2;
    transition: left .5s
}

.left-bar__switcher .checkbox:hover {
    cursor: pointer;
}

.left-bar__switcher .checkbox:checked:before {
    left: 23px;
    opacity: 1;
    background-color: #6F6EFF;
    box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
    transition: .5s;
}


/* top-bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    margin-left: 280px;
    width: 1140px;
    height: 85px;
    background-color: #2B2C3A;
    border-bottom: 1px solid rgba(216, 216, 216, 0.1);
}

.top-bar__left {
    margin-left: 55px;
    width: 244px;
    height: 24px;
    border-right: 1px solid rgba(216, 216, 216, 0.1);;
}

.top-bar__left__nav  .nav-item {
    display: inline-block;
    padding-left: 0;
    opacity: 0.6;
    transition: 0.5s;
}

.top-bar__left__nav  .nav-item:hover {
    opacity: 1;
}

.top-bar__left__nav  .nav-item:not(:first-child) {
    padding-left: 28px;
}

.top-bar__right {
    display: flex;
    align-items: center;
    margin-right: 45px;
    width: auto;
    height: 44px;
}

.top-bar__right__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 0 9px;
    height: 24px;
    color: #FFFFFF;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 5px;
}

.top-bar__right__item:nth-child(3) {
    padding: 0 9px 0 3px;
}

.top-bar__right__item .hour {
    opacity: 0.6;
}

.top-bar__right__user-information {
    display: flex;
    align-items: center;
    width: auto;
    height: 44px;
}

.top-bar__right__user-information .information {
    color:#FFFFFF;
    margin-left: 13px;
}

.name-level {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.top-bar__right__user-information .level {
    margin-left: 15px;
    padding: 0 8px;
    font-size: 11px;
    height: 14px;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
    border-radius: 4px;
}

.top-bar__right__user-information .status {
    font-size: 13px;
    font-weight: bold;
    color: #24CB8D;
}


/* weekly-quests */

.weekly-quests {
    position: relative;
    left: 335px;
    top: 120px;
    margin-bottom: 60px;
    width: 1050px;
    height: 360px;
}

.weekly-quests__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 25px;
    width: 1050px;
    height: 41px;
}


.weekly-quests__header__left .level {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.4);
}

.weekly-quests__header__left .title {
    font-size: 22px;
    color: #FFFFFF;
}

.weekly-quests__header__right {
    display: flex;
    justify-content: space-between;
    width: 161px;
    height: 30px;
}

.template {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
    color: #FFFFFF;
}

.weekly-quests__header__right .cta {
    width: 86px;
    height: 30px;
    font-size: 11px;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;   
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #FFFFFF;
}

.weekly-quests__list {
    display: flex;
    justify-content: space-between;
    width: 1050px;
    height: 294px;
    margin-bottom: 60px;
}

.widget {
    width: 255px;
    height: 294px;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 6px;
}

.widget__image .kind-lesson {
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    width: 50px;
    height: 20px;
    font-size: 12px;
}

.widget__text {
    margin-top: 15px;
    padding-left: 15px;
    width: 240px;
    height: 73px;
    border-bottom: 1px solid rgba(216, 216, 216, 0.1);
}

.widget__text .title {
    font-size: 16px;
    color: #FFFFFF;
}

.widget__text .description {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.widget__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 16px;
    font-size: 13px;
    color:#FFFFFF;
}

.widget__footer .watch {
    width: 89px;
    height: 30px;
}